<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа, указываем язык содержиого-->
<html lang="ru">
<!--Заголовок страницы, контейнер для других важных данных (не отображается)-->
    <head>
    	<!--Заголовок страницы в браузере-->
    	<title></title>
    	<!--Кодировка страницы-->
      <meta charset="UTF-8"> 
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
      <meta name="format-detection" content="telephone=0">
        <link rel="stylesheet" href="source/css/style.css">
        <link rel="shortcut icon" href="img/icon.png">
    </head>
    <!--Отображаем тело страницы-->
    <body>
      <div class='wrapper'>
        <div class='container'>
          <header class="header"></header>
          <main class="main"></main>
          <footer class="footer"></footer>
        </div>
      </div>
      <script src='source/js/script.js'></script>
    </body>
</html>
