@charset "UTF-8";

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление шрифта*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/

/*Брейк поинты-----------------------------------------*/

/*Обертка всего содержимого---------------------------------------*/

.wrapper {
  font-family: Inter;
  min-height: 100%;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  position: relative;
  line-height: 1.2;
  cursor: default;
}

/*Фоновая картинка---------------------------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.ibg img {
  display: none;
}

/*Контейнер---------------------------------------*/

.container {
  max-width: 1200px;
  margin: auto;
  padding: 100px 30px;
}

/*Шаблон стилей страниц со слайдером-------------------------------------*/

.template {
  position: relative;
  text-align: center;
  min-width: 0;
}

.template .container {
  padding: 100px 30px;
}

.template .title {
  font-size: 36px;
  font-weight: 900;
}

.template .subtitle {
  font-size: 20px;
  padding-top: 30px;
}

.template .row {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.template .row .element__text {
  font-size: 18px;
  padding-top: 40px;
}

.template .row .element:hover {
  opacity: 0.7;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin-top: -40px;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/next.svg") 0 0/100% no-repeat;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/next.svg") 0 0/100% no-repeat;
}

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 5px;
  font-size: 0;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid white;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*Страницы с белым фоном*/

.white .slick-dots li.slick-active button {
  background-color: #08243e;
}

.white .slick-dots li button {
  border: 2px solid #08243e;
}

/*Кнопки-----------------------------------------*/

.button {
  color: white;
  width: 370px;
  height: 70px;
  background-color: #f7b516;
  font-size: 17px;
  font-weight: 700;
}

.button:hover {
  opacity: 0.7;
}

/*Поля ввода---------------------------------------*/

.input {
  width: 370px;
  height: 70px;
}

.input input {
  width: 100%;
  height: 100%;
  padding: 2em 4em 2em 2em;
  font-size: 15px;
}

.input input:focus {
  opacity: 0.7;
}

.input img {
  position: absolute;
  top: 2em;
  right: 2em;
}

/*Шапка страницы-----------------------------------------*/

.header {
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #ffffff;
}

.header .container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container p {
  margin-bottom: 14px;
}

.header .container p:last-child {
  margin-bottom: 0;
}

.header__logo {
  z-index: 4;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: "";
  width: 100%;
  height: 10%;
  background-color: white;
  position: absolute;
  left: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  top: 50%;
}

.header .menu {
  text-align: center;
}

.header .menu__timetable {
  font-weight: 700;
  margin: 0 auto;
}

.header .menu__call .numbers {
  font-weight: 900;
}

.header .menu__call .scroll {
  font-weight: 900;
  background-color: #1669b3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu p:hover {
  text-decoration: underline;
}

.header .header__burger._active span {
  display: none;
}

.header .header__burger._active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.header .header__burger._active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header .header__menu._active {
  top: 0;
}

body._locked {
  overflow: hidden;
}

/*Главный контент страницы-----------------------------------------*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*Оригинальные запчасти для белаз-----------------------------------------*/

.main-screen {
  position: relative;
  margin-top: 100px;
}

.main-screen .container {
  padding: 0 30px;
}

.main-screen .original-parts {
  background-color: #f7b516;
  display: inline-block;
  padding: 100px;
}

.main-screen .original-parts__title {
  font-size: 40px;
  line-height: 55px;
  font-weight: 900;
}

.main-screen .original-parts__subtitle {
  margin-top: 49px;
  font-size: 20px;
  font-weight: 900;
}

.main-screen .original-parts__list {
  margin-top: 52px;
}

.main-screen .original-parts__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  font-size: 18px;
}

.main-screen .original-parts__list li .text {
  padding-left: 26px;
}

/*Получите прайс прямо сейчас на электронную почту!-----------------------*/

.get-price {
  position: relative;
  text-align: right;
}

.get-price__title {
  font-size: 30px;
  font-weight: 900;
}

.get-price__form {
  margin-top: 30px;
}

.get-price__form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.get-price__form .inputs .input {
  margin: 30px 0 0 30px;
}

.get-price__form .inputs .input input {
  background-color: #f2f2f2;
}

.get-price__form .inputs .input__email {
  position: relative;
}

.get-price__form .inputs .input__number {
  position: relative;
}

.get-price__form .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.get-price__form .send__text {
  font-weight: 700;
}

.get-price__form .send__clock {
  margin-top: 10px;
  margin-left: 30px;
}

.get-price__form .send__button {
  margin-top: 10px;
  height: 80px;
  background-color: #1866af;
  margin-left: 30px;
}

/*Вам не придется ждать!-----------------------------------------*/

.dont-wait {
  text-align: center;
  color: white;
  background-color: #08243e;
}

.dont-wait .row .element {
  width: 232px;
}

.dont-wait .row .element__image {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*Ищете конкретную деталь?-----------------------------------------*/

.specific-detail {
  color: white;
  text-align: center;
  position: relative;
}

.specific-detail__title {
  font-size: 30px;
  font-weight: 900;
}

.specific-detail__subtitle {
  font-size: 20px;
  margin-top: 30px;
}

.specific-detail__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.specific-detail__form .input__number {
  margin-left: 30px;
  position: relative;
}

.specific-detail__form .button {
  margin-left: 30px;
}

.specific-detail__text {
  margin-top: 60px;
}

.specific-detail__our-number .text {
  margin-top: 30px;
}

.specific-detail__our-number .number {
  font-size: 30px;
  font-weight: 700;
  margin-top: 16px;
}

/*Мы гарантируем сохранность деталей во время перевозки!------------------*/

.quarantee .element {
  width: 370px;
}

.quarantee .element__text {
  color: black;
}

.quarantee .element__more {
  margin-top: 40px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.quarantee .element__more:hover {
  text-decoration: underline;
}

.quarantee .element:hover {
  opacity: 0.7;
}

/*У нас разработаны бонусные системы и скидки для наших клиентов----------*/

.bonuses {
  color: white;
  background-color: #08243e;
}

.bonuses .row .element {
  width: 260px;
}

.bonuses .row .element__image {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bonuses .row .element__image p {
  font-size: 30px;
  font-weight: 700;
  cursor: default;
}

/*У Вас остались вопросы?-----------------------------------------*/

.questions {
  color: white;
  background-color: #0b3554;
}

.questions .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.questions .content .row .group {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  margin: 55px 0 0 30px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.questions .content .row .group .answer {
  position: absolute;
  top: 200%;
  left: -3000px;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 2;
  background-color: white;
  color: black;
  padding: 15px 46px 18px 15px;
  overflow: auto;
}

.questions .content .row .group .answer._active {
  height: 130px;
  width: 500px;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease 0s;
  -o-transition: opacity 0.7s ease 0s;
  transition: opacity 0.7s ease 0s;
  left: 0;
  right: 0;
  margin: auto;
}

.questions .content .row .group .answer__cross {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: 2;
}

.questions .content .row .group .answer:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid white;
  position: absolute;
  top: -7%;
  left: 3%;
}

.questions .content .row .group a {
  color: white;
}

.questions .content .row .group a img {
  margin-left: -40px;
  padding-right: 20px;
}

.questions .content .row .group:hover {
  color: #579eff;
  text-decoration: none;
}

.questions .content .row .group:last-child {
  list-style: none;
}

.questions .content:hover {
  opacity: 1;
}

.questions .content .image {
  margin-top: 90px;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.questions .content .image .image__text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: #0b3554;
  text-align: left;
  padding: 10px 20px;
}

/*С нами удобно работать!-----------------------------------------*/

.comfort .row .element {
  width: 230px;
}

/*У нас собственный склад!-----------------------------------------*/

.warehouse {
  color: white;
  background-color: #0b3554;
}

/*У нас в штате есть мобильные бригады, готовые выехать на сервисное обслуживание, ремонт и проведение диагностики!-----------------------------------*/

.diagnostic .row .element {
  width: 320px;
}

.diagnostic .row .element__image {
  width: 170px;
  height: 170px;
  border: 2px solid #ffbc3b;
  border-radius: 50%;
  padding: 56px 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Если Вам необходима бесплатная консультация по вопросу обслуживания-----*/

.consultation {
  position: relative;
  color: white;
  text-align: center;
}

.consultation__title {
  font-size: 30px;
  font-weight: 900;
}

.consultation__our-number {
  margin-top: 60px;
}

.consultation__our-number .number {
  font-size: 30px;
  font-weight: 700;
  margin-top: 16px;
}

.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.consultation__form .input__number {
  position: relative;
}

.consultation__form .button {
  margin-left: 30px;
}

/*Приезжайте в наш офис!-----------------------------------------*/

.welcome {
  text-align: center;
  position: relative;
}

.welcome__title {
  font-size: 30px;
  font-weight: 900;
}

.welcome__address {
  font-size: 18px;
  margin-top: 100px;
}

.welcome__number {
  font-size: 24px;
  font-weight: 700;
  margin-top: 34px;
}

/*Местонахождение на карте-----------------------------------------*/

.map__location iframe {
  width: 100%;
  height: 375px;
}

/*Подвал страницы-----------------------------------------*/

.footer {
  background-color: #191919;
  position: relative;
  color: #ffffff;
}

.footer .container {
  padding: 0 30px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container p {
  margin-bottom: 14px;
}

.footer .container p:last-child {
  margin-bottom: 0;
}

.footer__licenze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__licenze img {
  padding: 7px;
}

.footer__call {
  text-align: center;
}

.footer__call .numbers {
  font-weight: 900;
  line-height: 1.2;
  font-size: 18px;
}

.footer p:hover {
  text-decoration: underline;
}

.footer img {
  cursor: pointer;
}

@media (min-width: 767px) {
  .header__burger {
    display: none;
  }

  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .header .menu__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .menu__call .scroll {
    font-size: 12px;
    margin-left: 28px;
    width: 170px;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1030px;
  }

  .template .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .specific-detail__form .button {
    margin: 60px 0 0 0;
  }

  .questions .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .questions .content .row {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .questions .content .row .group {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  .questions .content .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 1052px) {
  .container {
    max-width: 810px;
  }
}

@media (max-width: 827px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 800px) {
  .warehouse .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 799px) {
  .specific-detail__form .input__number {
    margin: 30px 0 0 0;
  }

  .consultation__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .consultation__form .button {
    margin: 30px 0 0 0;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 30px 30px;
  }

  .footer__licenze {
    padding-top: 20px;
  }

  .footer__call {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .header .menu {
    padding: 130px 30px 30px 30px;
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    -webkit-transition: top 0.7s ease 0s;
    -o-transition: top 0.7s ease 0s;
    transition: top 0.7s ease 0s;
    font-size: 18px;
    overflow: auto;
  }

  .header .menu__call {
    margin-top: 50px;
  }

  .header .menu__call .scroll {
    margin-top: 50px;
    width: 230px;
    height: 70px;
  }

  .header .menu:before {
    content: "";
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #191919;
  }
}

@media (max-width: 630px) {
  .questions .content .image img {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .main-screen .original-parts {
    padding: 50px;
  }

  .main-screen .original-parts__title {
    font-size: 30px;
  }

  .main-screen .original-parts__subtitle {
    font-size: 18px;
  }

  .main-screen .original-parts__list li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .questions .content .row .group .answer._active {
    width: 100%;
    height: 110px;
    top: 130%;
  }
}

@media (max-width: 510px) {
  .input input {
    font-size: 14px;
  }

  .main-screen .container {
    padding: 0;
  }

  .main-screen .original-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }

  .main-screen .original-parts__title {
    font-size: 30px;
  }

  .get-price__form .inputs .input {
    margin-left: 0;
  }

  .get-price__form .send__button {
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .warehouse .element__image img {
    max-width: 260px;
  }
}

@media (max-width: 397px) {
  .footer__licenze {
    font-size: 12px;
  }
}

@media (max-width: 365px) {
  .footer__licenze {
    font-size: 10px;
  }
}

@media (max-width: 333px) {
  .footer__licenze {
    font-size: 9px;
  }
}
@supports (-webkit-appearance:none){
.slick-arrow.slick-prev{background:url("../img/next.svg") 0 0/100% no-repeat}
.slick-arrow.slick-next{background:url("../img/next.svg") 0 0/100% no-repeat}
}

 @media (min-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1052px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 827px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 799px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 630px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 610px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 510px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 397px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 365px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 333px){

@supports (-webkit-appearance:none){

}

}
