@import 'nullstyle.scss';

html,body{}

//Обертка-------------------------------
.wrapper{
  min-height:100%;
  overflow:hidden;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

//Шапка сайта--------------------------------------------
.header{}

//Основной контент страницы--------------------------------------------
.main{
  flex:1 1 auto;
}

//Подвал сайта--------------------------------------------
.footer{}
