@charset "UTF-8";

/*Подключение шрифтов-----------------------------------------*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Comforter";
  font-display: swap;
  src: url("../fonts/Comforter-Regular.woff") format("woff"), url("../fonts/Comforter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление шрифта*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/

/*Брейк поинты-----------------------------------------*/

/*Фоновая картинка---------------------------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.ibg img {
  display: none;
}

/*Контейнер-----------------------------------------*/

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

/*Обертка-----------------------------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: OpenSans;
  background-color: #46394B;
}

/*Шапка страницы-----------------------------------------*/

.header {
  background: rgba(148, 0, 211, 0.7);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header .container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  z-index: 4;
  font-family: Comforter;
  font-size: 17px;
  color: black;
  font-weight: 700;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: "";
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  left: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  top: 50%;
}

.header .header__burger._active span {
  display: none;
}

.header .header__burger._active:before {
  background-color: darkviolet;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.header .header__burger._active:after {
  background-color: darkviolet;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.header .header__menu._active {
  top: 0;
}

body._locked {
  overflow: hidden;
}

/*Главный контент страницы-----------------------------------------*/

.page {
  margin-top: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 0;
}

.page .github span {
  font-size: 16px;
}

.page .github a {
  color: darkviolet;
  color: white;
  padding-left: 5px;
}

.page .github a:hover {
  text-decoration: underline;
}

.page .site-group {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.page .site-group .site {
  -webkit-box-shadow: 2px 2px 5px 5px black;
          box-shadow: 2px 2px 5px 5px black;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 20px);
          flex: 0 1 calc(33.333% - 20px);
  overflow: hidden;
}

.page .site-group .site:hover figcaption {
  top: 0;
  height: 100%;
  margin-top: 0;
  -webkit-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
}

.page .site-group .site img {
  max-width: 100%;
  max-height: 100%;
}

.page .site-group .site__title {
  font-size: 15px;
  padding: 10px 0;
}

.page .site-group .site__description {
  padding-top: 10px;
}

.page .site-group .site__description ul {
  padding-left: 30px;
}

.page .site-group .site__description ul li {
  padding-top: 10px;
}

.page .site-group .site figcaption {
  background: black;
  color: white;
  position: absolute;
  top: 334px;
  padding: 0 10px;
  width: 100%;
  margin-top: -30px;
}

/*Подвал страницы-----------------------------------------*/

.footer {
  background: rgba(148, 0, 211, 0.7);
}

.footer .container {
  text-align: center;
  padding: 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.footer .container span {
  font-weight: 600;
  padding-right: 8px;
}

.footer .telegram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .telegram svg {
  width: 30px;
  height: 30px;
  fill: #37aee2;
  border-radius: 50%;
}

.footer .telegram svg:hover {
  fill: black;
}

.footer .email {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .menu a {
    margin-left: 30px;
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 600;
  }

  .header .menu a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1260px) {
  .container {
    max-width: 1030px;
  }

  .page .site-group .site figcaption {
    top: 267px;
  }
}

@media (max-width: 1052px) {
  .container {
    max-width: 750px;
  }

  .page .site-group .site {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 20px);
            flex: 0 1 calc(50% - 20px);
  }

  .page .site-group .site figcaption {
    top: 286px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 590px;
  }

  .header .menu {
    padding: 130px 30px 30px 30px;
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    -webkit-transition: top 0.7s ease 0s;
    -o-transition: top 0.7s ease 0s;
    transition: top 0.7s ease 0s;
    font-size: 18px;
    overflow: auto;
    text-align: center;
  }

  .header .menu a {
    display: block;
    margin-top: 30px;
    color: darkviolet;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
  }

  .header .menu a:first-child {
    margin-top: 0;
  }

  .page .github span {
    display: block;
    padding-bottom: 5px;
  }

  .page .site-group .site {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
    margin: auto;
  }

  .page .site-group .site__title {
    padding-top: 0;
  }

  .page .site-group .site figcaption {
    position: static;
    margin-top: 0;
    padding: 20px 10px;
  }
}

@media (max-width: 460px) {
  .page .site-group .site__title {
    font-size: 14px;
  }

  .page .site-group .site__description {
    font-size: 13px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1260px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1052px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 460px){

@supports (-webkit-appearance:none){

}

}
