.block
    margin-top: 30px
    max-width: 400px
    width: 100%
    &__note
        background: #fff3e6
        border-radius: 0
        padding: 20px
        margin: 20px
        box-shadow: 0 1px 2px -2px rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.12), 0 5px 12px 4px rgba(0,0,0,0.09)

.program
    &-clock
        &-wrapper
            width: 130px
            position: relative
        &__clock
            max-width: 100%
        &__element
            position: absolute
            top: 0
            bottom: 50px
            right: 0
            left: 0
            margin: auto
        &__hour
            width: 6px
            transform-origin: bottom center
            transition: all 0.5s ease-in-out 0s
        &__minute
            width: 6px
            transform-origin: bottom center
            bottom: 70px
        &__fixator
            width: 10px
            bottom: 10px
.address
    margin-left: -20px
    margin-right: -20px
    &__img
        width: 100%
        margin-top: 20px
        transition: transform 0.3s ease-out
        transform-origin: center center

.wills
    position: relative
    margin-right: -20px
    margin-left: -20px
    width: unset
    &__text
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        z-index: 2
        color: #fff3e6
        padding: 50px
        font-size: 17px
        height: 100%
        display: flex
        align-items: center
    &__img
        width: 100%
        height: 250px
        object-fit: cover
    &__bg
        width: 100%
        height: 100%
        background: rgb(0, 0, 0, 0.5)
        position: absolute
        top: 0
        left: 0
        z-index: 1

#card-wife, #card-husband
    img
        border-radius: 0

.main-block__text
    position: absolute
    top: 50px
    z-index: 1
    font-family: 'Makan Hati Cyrillic', sans-serif
    color: black

#main-names
    left: 0
    font-size: 50px

#main-rings
    position: absolute
    top: 180px
    right: -10px
    z-index: 1
    img
        width: 120px
#main-date
    right: 30px
    font-size: 50px
#main-date p
    font-family: 'DwarvenStonecraftCyr', sans-serif
    font-family: 'Plate New', sans-serif
    margin-bottom: 30px
    font-family: 'Makan Hati Cyrillic', sans-serif

h2
    font-family: 'Jolly Sweater', sans-serif !important

#root
    padding: 0 20px
    background: #e4d5be
    width: 100%
    overflow: hidden

#card-wife
    transform: rotate(-10deg)
    position: relative
    left: -20px

#card-husband
    transform: rotate(10deg)
    position: relative
    right: -20px