.footer{
  position:relative;
  color:#ffffff;
  .container{
    height: 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    p{
      margin-bottom:14px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  &__licenze{
    display:flex;
    align-items:center;
    img{
      padding:7px;
    }
  }
  &__call{
    .numbers{
      font-weight:900;
      line-height: 1.2;
      font-size: 18px;
    }
    text-align:center;
  }
}
