.header{
  position:relative;
  color:#ffffff;
  .container{
    height: 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    p{
      margin-bottom:14px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  &__timetable{
    font-weight:700;
  }
  &__call{
    display:flex;
    align-items:center;
    .numbers{
      font-weight:900;
    }
    .button{
      font-weight:900;
      width: 170px;
      height: 50px;
      color:#ffffff;
      background-color: #1669b3;
      margin-left:28px;
    }

  }
}
