/*Подключение шрифтов-----------------------------------------*/
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face { 
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "nullstyle.scss";

/*Брейк поинты-----------------------------------------*/
@media(max-width:1200px){
  .container{
    max-width:1030px;
  }
}

@media(max-width:1052px){
  .container{
    max-width:810px;
  }
}

@media(max-width:827px){
  .container{
    max-width:none;
  }
}

/*Фоновая картинка---------------------------------------*/
.ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width:100%;
  height:100%;
  z-index:-100;
  img{
    display:none;
  }
}

/*Контейнер-----------------------------------------*/
.container{
  padding:0 30px;
  margin:0 auto;
}

/*Обертка-----------------------------------------*/
.wrapper{
  min-height:100%;
  overflow:hidden;  
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/*Шапка страницы-----------------------------------------*/
@import "header.scss";

/*Главный контент страницы-----------------------------------------*/
.page{
  flex:1 1 auto;
}

/*Подвал страницы-----------------------------------------*/
@import "footer.scss";
