@charset "UTF-8";

/*Подключение шрифтов-----------------------------------------*/

/*Обнуление шрифта*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/

/*Брейк поинты-----------------------------------------*/

/*Заголовки-----------------------------------------*/

h2 {
  font-size: 80px;
  line-height: 85px;
}

/*Контейнер-----------------------------------------*/

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1240px;
}

/*Обертка-----------------------------------------*/

.wrapper {
  min-height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0B0A0D;
  color: #0B0A0D;
}

/*Шапка страницы-----------------------------------------*/

.header {
  margin-top: 57px;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
  background-color: #0B0A0D;
}

.header._dark:after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.header .container {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 4;
}

.header__logo svg {
  height: 50px;
  width: 42px;
}

.header__burger {
  position: relative;
  width: 36px;
  height: 24px;
  cursor: pointer;
  z-index: 5;
}

.header__burger:before,
.header__burger:after,
.header__burger span {
  content: "";
  width: 100%;
  height: 10%;
  background-color: white;
  position: absolute;
  right: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
  width: 50%;
}

.header__burger span {
  top: 50%;
}

.header .header__burger._active span {
  display: none;
}

.header .header__burger._active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.header .header__burger._active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  width: 100%;
}

.header .header__menu._active {
  right: 0;
}

body._locked {
  overflow: hidden;
}

/*Главный контент страницы-----------------------------------------*/

.page {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 65px;
}

/*Главный экран со слайдами----------------------------------------*/

.main-screen {
  position: relative;
}

.main-screen .main-swiper {
  padding-bottom: 95px;
}

.main-screen .swiper-slide {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  height: 650px;
}

.main-screen .swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-screen .swiper-slide figcaption {
  color: white;
  font-size: 80px;
  line-height: 85px;
  position: absolute;
  bottom: 160px;
  left: 50px;
}

.main-screen .swiper-button-prev,
.main-screen .swiper-button-next {
  top: 94%;
  margin: auto;
  width: 100px;
  height: 40px;
}

.main-screen .swiper-button-prev:after,
.main-screen .swiper-button-next:after {
  content: "";
}

.main-screen .swiper-button-prev svg,
.main-screen .swiper-button-next svg {
  width: 100%;
  height: 100%;
}

.main-screen .swiper-button-prev {
  left: 0;
  right: 115px;
}

.main-screen .swiper-button-next {
  left: 115px;
  right: 0;
}

/*Вопросы-------------------------------------------*/

.faq {
  color: white;
  margin-top: 150px;
}

.faq .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq__content {
  padding-left: 98px;
  width: 100%;
}

.faq__content .question {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0;
}

.faq__content .question._active {
  border-top: 1px solid rgb(255, 255, 255);
}

.faq__content .question:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.faq__content .question__caption {
  list-style-type: none;
  font-size: 24px;
  line-height: 35px;
  cursor: pointer;
}

.faq__content .question__answer {
  font-size: 16px;
  line-height: 24px;
  padding-top: 30px;
}

/*Новости-----------------------------------------*/

.news {
  margin-top: 130px;
  color: white;
}

.news .news-swiper {
  margin-top: 30px;
}

.news .swiper-slide .image {
  height: 264px;
  position: relative;
}

.news .swiper-slide .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.news .swiper-slide:hover .text-caption {
  text-decoration: underline;
}

.news .swiper-slide .text {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.news .swiper-slide .text-caption {
  padding-top: 30px;
}

.news .swiper-slide .text-paragraph {
  padding-top: 10px;
}

/*Подпишись-----------------------------------------*/

.subscribe {
  margin-top: 110px;
  background-color: white;
  padding: 50px 0;
}

.subscribe__subtitle {
  padding-top: 30px;
  font-size: 16px;
  line-height: 20px;
  max-width: 400px;
}

.subscribe__form .inputs {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.subscribe__form .inputs .input-group input {
  margin-top: 20px;
  padding: 0 20px;
  display: block;
  width: 400px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe__form .inputs .input-group input:first-child {
  margin-top: 0;
}

.subscribe__form .inputs .input-group input:focus {
  border: 1px solid #0B0A0D;
}

.subscribe__form .submit {
  width: 141px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
  margin-top: 20px;
}

.subscribe__form .submit:hover {
  border: 1px solid #0B0A0D;
}

/*Подвал страницы-----------------------------------------*/

.footer {
  overflow: hidden;
  color: white;
  background-color: #312F35;
  padding: 55px 0 80px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

.footer__text .title {
  font-size: 16px;
  line-height: 24px;
}

.footer__text .paragraph {
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
}

.footer__text .domain {
  padding-top: 35px;
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
}

.footer__socmedia {
  margin-left: 119px;
}

.footer__socmedia a {
  cursor: pointer;
  margin-left: 30px;
}

.footer__socmedia a:first-child {
  margin-left: 0;
}

.footer__socmedia a svg {
  width: 28px;
  height: 28px;
}

#vk path,
#facebook path,
#tiktok path,
#youtube path {
  fill: white;
}

@media (min-width: 768px) {
  .header__logo {
    position: absolute;
  }

  .header__burger {
    display: none;
  }

  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-left: calc(20% - 30px);
  }

  .header .menu__item {
    margin-left: 77px;
  }

  .header .menu__item:first-child {
    margin-left: 0;
  }

  .header .menu__item .caption._active:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  .header .menu__item .caption {
    z-index: 4;
    position: relative;
    color: white;
    background-color: transparent;
    font-size: 16px;
    margin-top: 26px;
    padding-bottom: 26px;
  }

  .header .menu__item .caption:hover:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  .header .menu__item .list._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 1;
  }

  .header .menu__item .list {
    padding-top: 270px;
    position: absolute;
    bottom: -287px;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: #0B0A0D;
    height: 487px;
    padding-left: 20%;
    display: none;
  }

  .header .menu__item .list__group {
    margin-left: 142px;
  }

  .header .menu__item .list__group:first-child {
    margin-left: 0;
  }

  .header .menu__item .list__group a {
    color: white;
    display: block;
    margin-top: 30px;
  }

  .header .menu__item .list__group a:first-child {
    margin-top: 0;
  }

  .header .menu__item .list__group a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

@media (max-width: 1052px) {
  .container {
    max-width: 810px;
  }

  .main-screen .main-swiper {
    overflow: hidden;
  }

  .subscribe__form .inputs .input-group input {
    width: 300px;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

@media (max-width: 827px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 12vw;
  }

  .header {
    margin-top: 15px;
  }

  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .menu {
    padding: 63px 50px 30px 56px;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 70%;
    height: 100%;
    background-color: #0B0A0D;
    z-index: 3;
    -webkit-transition: right 0.7s ease 0s;
    -o-transition: right 0.7s ease 0s;
    transition: right 0.7s ease 0s;
    font-size: 18px;
    overflow: auto;
  }

  .header .menu__item .caption {
    color: white;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
  }

  .header .menu__item .list._active {
    display: block;
  }

  .header .menu__item .list {
    display: none;
    padding-left: 30px;
  }

  .header .menu__item .list a {
    margin-top: 40px;
    color: white;
    display: block;
    font-size: 16px;
    line-height: 21px;
  }

  .page {
    margin-top: 43px;
  }

  .main-screen .swiper-slide {
    height: 450px;
  }

  .main-screen .swiper-slide figcaption {
    left: 20px;
    font-size: 12vw;
  }

  .faq .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .faq__content {
    padding: 45px 0 0 0;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .footer__socmedia {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 367px) {
  .subscribe__form .inputs .input-group {
    width: 100%;
  }

  .subscribe__form .inputs .input-group input {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1052px) {
  .header .menu__item {
    margin-left: 30px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1052px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 827px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 367px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px) and (max-width: 1052px){

@supports (-webkit-appearance:none){

}

}
