.header{
  &._dark:after{
    content:"";
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(0,0,0,0.7);
  }
  margin-top:57px;
  color:white;
  position:sticky;
  top:0;
  width:100%;
  z-index:12;
  background-color:#0B0A0D;
  @media(max-width:767px){
    margin-top:15px;
  }
  .container{
    height:92px;
    display:flex;
    align-items:center;
    @media(max-width:767px){
      justify-content:space-between;
    }
  }
  &__logo{
    z-index:4;
    @media(min-width:768px){
      position:absolute;
    }
    svg{
      height:50px;
      width:42px;
    }
  }
  &__burger{
    position:relative;
    width:36px;
    height:24px;
    cursor:pointer;
    z-index:5;
    &:before,
    &:after,
    span{
      content:"";
      width:100%;
      height:10%;
      background-color:white;
      position:absolute;
      right:0;
    }
    &:before{
      top:0;
    }
    &:after{
      bottom:0;
      width: 50%;
    }
    span{
      top:50%;
    }
    @media(min-width:768px){
      display:none;
    }
  }
  @media(min-width:768px){
    .menu{
      display:flex;
      flex:1 1 100%;
      margin-left:calc(20% - 30px);
      &__item{
        @media(max-width:1052px){
          margin-left:30px;
        }
        margin-left:77px;
        &:first-child{
          margin-left:0;
        }
        .caption._active{
          &:after{
            content:"";
            width:100%;
            height:3px;
            background-color:white;
            position:absolute;
            left:0; right:0;
            bottom:0;
            z-index:3;
          }
        }
        .caption{
          z-index:4;
          position:relative;
          color:white;
          background-color:transparent;
          font-size: 16px;
          margin-top:26px;
          padding-bottom:26px;
          &:hover{
            &:after{
              content:"";
              width:100%;
              height:3px;
              background-color:white;
              position:absolute;
              left:0; right:0;
              bottom:0;
              z-index:3;
            }
          }
        }
        .list._active{
          display:flex;
          width:100%;
          z-index:1;
        }
        .list{
          padding-top:270px;
          position:absolute;
          bottom:-287px;
          left:0;
          width:0;
          height:0;
          overflow:hidden;
          background-color:#0B0A0D;
          height:487px;
          padding-left:20%;
          display:none;
          &__group{
            &:first-child{
              margin-left:0;
            }
            margin-left:142px;
            a{
              color:white;
              display:block;
              margin-top:30px;
              &:first-child{
                margin-top:0;
              }
              &:hover{
                text-decoration:underline;
              }
            }
          }
        }
      }
    }
  }
  @media(max-width:767px){
    .menu{
      padding:63px 50px 30px 56px;
      position:fixed;
      top:0;
      right:-1000px;
      width:70%;
      height:100%;
      background-color:#0B0A0D;
      z-index:3;
      transition:right 0.7s ease 0s;
      font-size:18px;
      overflow:auto;
      &__item{
        .caption{
          color:white;
          background-color:transparent;
          font-size: 18px;
          line-height: 24px;
          margin-top:40px;
        }
        .list._active{
          display:block;
        }
        .list{
          display:none;
          padding-left:30px;
          a{
            margin-top:40px;
            color:white;
            display:block;
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
  .header__burger._active{
    span{
      display:none;
    }
    &:before{
      transform:rotate(45deg);
      top:50%;
    }
    &:after{
      transform:rotate(-45deg);
      top:50%;
      width:100%;
    }
  }
  .header__menu._active{
    right:0;
  }
}

body._locked{
  overflow:hidden;
}
